header {
  display: flex;
  height: 20%;
  width: 100%;
  font-size: large;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffb129;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-grey.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */;
}

.user-avatar {
  height: 8em;
}

h2 {
  margin-block: .6em;
}