.new-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  margin-top: 1em;
  margin-bottom: 1em;
  align-items: space-between;
}

textarea {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  width: 100%;
  padding: .5em;
  font-size: medium;
  font-weight: 600;
  color: #545149;
  background-color: #f4f1ec;
  border-bottom: 2px solid #545149;
  height: auto;
  max-height: 50%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: .2em;
}

#tweet-str {
  height: 1.2em;
  max-height: 5em;
}

h3 {
  color:red;
  opacity: 80%;
}

.tweet-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 300;
  font-family: 'Bungee', sans-serif;
  font-size: medium;
  padding: 5px;
}

button:hover {
  box-shadow: 2px 2px #4056A1;
  cursor: pointer;
}

button {
  display: flex;
  background-color: #4056A1;
  border: 0;
  color: #FFFFFF;
  font-size: medium;
}
