article:hover {
  box-shadow: 2px 2px #4056A1;
}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  border: 3px solid #545149;
  margin: 10px;
}


h4 {
  display: flex;
  margin: .5em;
  align-items: center;
  justify-content: space-around;
}

h5 {
  margin: .5em;
  color: #4056A1;
  opacity: .5;
}

.tweet-header {
  display: flex;
  padding: .5em;
  padding-left: .3em;
  flex-flow: wrap row;
  font-family: 'Source Sans 3', sans-serif;
  font-size: medium;
  justify-content: space-between;
  align-items: center;
}

p {
  display: flex;
  flex-flow: wrap row;
  align-self: center;
  width: 96%;
  padding: .5em;
  font-size: medium;
  font-weight: 600;
  color: #545149;
  background-color: #f4f1ec;
  border-bottom: 2px solid #545149;
  height: auto;
  max-height: 60%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: .2em;
  overflow: auto;
}

footer {
  display: flex;
  font-family: 'Source Sans 3', sans-serif;
  font-size: small;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .75em;
  padding-left: .9em;
}

.tweet-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

i:hover {
  color: #c29f55;
}

i {
  margin: .5em;
  color: #4056A1;
}