article {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  border: 3px solid #545149;
  margin: 10px;
}

h4 {
  display: flex;
  margin: .5em;
  align-items: center;
  justify-content: space-around;
}

h5 {
  margin: .5em;
  color: #4056A1;
  opacity: .5;
}

.tweet-header {
  display: flex;
  padding: 1em;
  flex-flow: wrap row;
  font-family: 'Source Sans 3', sans-serif;
  font-size: medium;
  justify-content: space-between;
  align-items: center;
}

p {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 99.5%;
  position: relative;
  max-width: 1080px;
  padding: 5px;
  font-size: medium;
  font-weight: 600;
  color: #545149;
  background-color: #f4f1ec;
  border-bottom: 2px solid #545149;
  height: 30px;
  max-height: 100px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: .05em;
}

footer {
  display: flex;
  font-family: 'Source Sans 3', sans-serif;
  font-size: x-small;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.tweet-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

i {
  margin: .5em;
  color: #4056A1;
}

img {
  margin-right: 10px;
  object-fit: scale-down;
}